# WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Arquivos do sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
*.tmproj
*.tmproject
tmtags

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Arquivos de compilação
*.com
*.class
*.dll
*.exe
*.o
*.so

# Arquivos de pacote
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs e bancos de dados
*.log
*.sql
*.sqlite
